@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  outline: none !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.btn-social {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 21px 11px;
  border-radius: 20px;
  vertical-align: top;
}

.btn-icon-social {
  vertical-align: top;
  display: inline-block;
  width: 24px;
  height: 22px;
  margin: 0 13px -2px -7px;
}

.cus-shadow {
  -webkit-box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
}

.btn-toggle-sidebar {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-toggle-sidebar:hover {
  border-color: #646cff;
}
.btn-toggle-sidebar:focus,
.btn-toggle-sidebar:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
